<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" required>
                            <input type="password" class="form-control" placeholder="Password" name="psw" required>
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--Add review form here -->
    <div style="min-height: 190px"></div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h4 class="mb-5"> Add a review for <strong>{{dealership.full_name}}</strong></h4>
                <form action="{% url 'djangoapp:add_review' dealership.id %}" method="post">
                    <H5>Your Name:</H5><br>
                    {% csrf_token %}
                    <input class="form-control" id="name" name="name" size="30" required></textarea><br>
                    <H5>Enter the review content:</H5><br>
                    <textarea class="form-control" id="content" name="content" rows="2" required></textarea><br>
                    <div class="form-check mt-5">
                        <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                        <label class="form-check-label">Has purchased car from {{dealership.full_name}} ?<label> <span
                                    style="color: gray; font-weight: 300; padding-left: 5px;">(select purchased car
                                    information below if checked)</span>
                    </div>
                    <div class="d-flex mt-3">
                        <div class="mr-5">
                            <h5>Select your car (model-make-year):</h5><br />
                            <select name="car" id="car" class="form-select"><br>
                                {% for car in cars %}
                                <option selected value={{car.id}}>{{car.name}}-{{car.car.name}}-{{ car.year|date:"Y" }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <h5>Select Your Purchase Date:</h5><br />
                            <div class="input-group date" data-provide="datepicker-inline">
                                <input class="date-own form-control" type="date" name="purchasedate" id="purchasedate"><br>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-5" type="submit">Add review</button>
                </form>
            </div>
        </div>
    </div>
    <div style="min-height: 200px"></div>
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022
            <a class="text-dark" href="{% url 'djangoapp:index' %}">Dealership Review</a>
        </div>
    </footer>
</body>

</html>